body{
    background-color: #f4f4f4;
    font-size: 16px;
}
.login{
    width:300px;
    margin: 300px auto;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #efeded;
}
.asterisk{
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #D20707;
}
/* start bootstrap desgin */
.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-brand{
    font-size: 1em;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.dropdown-menu
{
    background-color: #3498db;
}
.dropdown-menu > li > a{
    color: #fff;
}
/* End bootstrap desgin */
/* Start page memeber */
h1{
    font-size: 45px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}
.form-control{
    position: relative;
}
.main-table{
    box-shadow: 0 3px 10px #333;
}
.main-table tr:first-child td{
    background-color: #333;
    color: #fff;
}
/* End page memeber */
/* Start Dashboard */
.home-stats .stat{
    background-color: rgb(78, 93, 95);
    border: 1px solid #333;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
.home-stats .stat span{
    display: block;
    font-size: 50px;
}
.latest{
    margin-top: 30px;
}
.stat .total_member{
    background-color: #85C1E9;
}
.stat .pending_member{
    background-color: #76D7C4;
}
.stat .total_item{
    background-color: #F8C471 ;
}
.stat .total_comment{
    background-color: #F5B7B1;
}
.stat a{
    text-decoration: none;
}
.latest-btn{
    margin-top: -6px;
}
.latest-btn a{
    text-decoration: none;
    color: #fff;
}


/* End Dashboard */


